<li id="<%= grocery_list.id %>">
  <span class="content"><%= link_to "#{grocery_list.name}", grocery_list_path(grocery_list) %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(grocery_list.created_at) %> ago.
  </span>
</li>