<%= div_for(grocery_list_item) do %>
<tr>
	<td class="span1"><%= link_to "remove", grocery_list_item_path(
	:id => grocery_list_item.id,
	:grocery_list_id => grocery_list_item.grocery_list.id), 
									method: :delete,
                                    data: { confirm: "You sure?" },
                                    title: grocery_list_item.item.name 
                                    %></td>
    <td><%= grocery_list_item.item.name %></td>
 </tr>
<% end %>