<% provide(:title, 'Add Item') %>
<h1>Add Grocery List Item</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for ([@groceryList, @groceryListItem]) do |form| %>
 			<%= form.fields_for :item do |f| %>
   				<%= f.text_field :name %>
 			<% end %>
			<%= form.submit %>
		<% end %>
	</div>
</div>
